<ion-header>
  <ion-toolbar>
    <ion-title>
      Relación 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button
          href="/ejercicio03" routerDirection="forward"
          size="medium"
          color="primary"
          shape="round"
          expand="full">
          Ejercicio 3
        </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <ion-button
          href="/ejercicio04" routerDirection="forward"
          size="medium"
          color="primary"
          shape="round"
          expand="full">
          Ejercicio 4
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          href="/ejercicio05" routerDirection="forward"
          size="medium"
          color="primary"
          shape="round"
          expand="full">
          Ejercicio 5
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          href="/ejercicio06-to08" routerDirection="forward"
          size="medium"
          color="primary"
          shape="round"
          expand="full">
          Ejercicio 6, 7 y 8
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
